/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-text-background: #fff;
	--color-background:#fff;
	--color-background-button-dark: #000;
	--color-background-button-hover-dark: #555;
	--color-background-button-light: #fff;
	--color-background-button-hover-light: #bbb;

	--color-accent-IKEA-blauw: rgb(0, 124, 193);
}





/***********/
/* Algemeen*/
/***********/

* {
	font-family: 'Noto Sans', sans-serif;
}

body {
	margin: auto 1em;
}

section {
	margin: 4em auto;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

p {
	font-size: 1em;
	line-height: 1.5em;
}

ul {
	margin: 0;
	padding: 0;

	list-style-type: none;
}

button {
	background: none;
	border: none;
}

button:hover {
	cursor: pointer;
}

a {
	margin: 1em 0;
	padding: 1em 0;

	font-size: 1em;
	font-weight: 700;
	text-decoration: underline rgba(0,0,0, 0);

	color: var(--color-text);

	transition: 1s;
}

a:hover {
	cursor: pointer;
	text-decoration: underline rgba(0,0,0, 1);
	transition: 1s;
}
   
img {
	width: 100%;
	object-fit: cover;
}

span {
	font-size: 1.25em;
	font-weight: 700;
}




/*************/
/* scrollbar */
/*************/

  /* Firefox */
  /* is heel gelimiteerd in wat je kan stylen jammer genoeg dus geen border-radius in firefox */
  * {
    scrollbar-width: 16px;
    scrollbar-color: var(--color-background-button-dark) var(--color-background-button-hover-light);
  }

  /* Chrome, Edge, and Safari */
div::-webkit-scrollbar,
ul::-webkit-scrollbar {
    width: 16px;
	height: 8px;
}

div::-webkit-scrollbar-track,
ul::-webkit-scrollbar-track {
	box-shadow: inset 1px 2px 6px rgba(0, 0, 0, 0.3);
    background: white;
	border-radius: 1em;
}

div::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb {
    background-color: var(--color-background-button-dark);
    border-radius: 1em;
}




/********/
/* body */
/********/
body {
	display: flex;
	flex-direction: column;
	max-width: 100vw;
}

main {
	order: 2;
}





/**********/
/* header */
/**********/

header ul {
	order: 1;
	display: flex;
	flex-wrap: wrap;
	gap: 0em;
	justify-content: space-between;

	margin: 1em 0;
	background: white;
}

header ul {
	display: flex;
}

header li {
	margin: 0.5em;
}

header li:nth-of-type(2),
header input {
	flex-grow: 1;
	order: 1;

	width: 100%;
	max-width: 630px;
}

header input {
	padding: 0 1em;

	height: 3em;

	background: lightgray;
	border-radius: 2em;
	border: none;
}

header nav {
	display: none;
}





/**********/
/* Welkom */
/**********/





/*******************/
/* Onlangs bekeken */
/*******************/

section:nth-of-type(2) div {
	display: flex;
	flex-wrap: nowrap;
	gap: 2em;
	overflow-x: scroll;
	padding: 2em 0;
}

section:nth-of-type(2) div article {
	position: relative;
	min-width: 15em;
}

section:nth-of-type(2) div img:nth-of-type(2) {
	position: absolute;
	top: 0;
	left: 0;

	opacity: 0;
	transition: 1s;
}

section:nth-of-type(2) div article:hover img:nth-of-type(2) {
	opacity: 1;
}

section:nth-of-type(2) article h3{
	margin-bottom: .5em;
	font-size: 1em;
	text-transform: uppercase;
}

section:nth-of-type(2) article p {
	margin: .5em 0;
	line-height: 1em;
}

section:nth-of-type(2) article p:nth-of-type(2){
	font-size: 1.5em;
	font-weight: 700;
}

section:nth-of-type(2) article a{
	text-decoration: none;
}

section:nth-of-type(2) article a:hover{
	text-decoration: none;
}





/********************/
/* Photos with dots */
/********************/

section:nth-of-type(3) ul {
	display: flex;
	flex-direction: row;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: space-between;
}

section li {
	position: relative;

	flex-grow: 1;
}

section:nth-of-type(3) img {
	max-height: 600px;
}

section ul li button {
	position: absolute;
	z-index: 1;

	width: 1em;
	height: 1em;

	margin: 0;
	padding: 0;

	text-decoration: none;
	line-height: 0;

	background: white;
	outline: solid 0.5em rgba(0, 0, 0, .5);
	border-radius: 3em;
	
	transition: .5s;
}

section ul li button:hover {
	background: white;
	outline: solid 1.15em rgba(0, 0, 0, .75);
	border-radius: 3em;
	transition: 0.25s;
}

section ul li button:hover + div {
	opacity: 1;
	z-index: 2;
}

section ul li div {
	display: grid;
	grid-template-columns: 1fr 50px;
	
	position: absolute;

	width: max-content;

	padding: 1em 0 1em 1em;

	background: var(--color-background);
	opacity: 0;
	transition: .25s;
}

section ul li div {
	z-index: 0;
	transition: 0.1;
}

section ul li div > i:nth-last-of-type(1) {
	display: flex;
	justify-self: center;
	align-items: center;
	grid-column: 2;
	grid-row-start: 1;
	grid-row-end: 6;

	padding: 0 1em;

	border-left: solid 2px lightgray;
}

section ul li p,
section ul li h3 {
	margin: 0.25em 0;
}

section:nth-of-type(3) li:nth-of-type(1) button:nth-of-type(1) {
	top: 15%;
	left: 50%;
}

section:nth-of-type(3) li:nth-of-type(1) div:nth-of-type(1) {
	top: calc(15% + 2em);
	left: 50%;
	translate: -50% 0;
}

section:nth-of-type(3) li:nth-of-type(2) button:nth-of-type(1) {
	top: 40%;
	left: 20%;
}

section:nth-of-type(3) li:nth-of-type(2) div:nth-of-type(1) {
	top: calc(40% + 2em);
	left: 20%;
	translate: -50% 0;
}

section:nth-of-type(3) li:nth-of-type(2) button:nth-of-type(2) {
	top: 45%;
	left: 35%;
}

section:nth-of-type(3) li:nth-of-type(2) div:nth-of-type(2) {
	top: calc(45% + 2em);
	left: 35%;
	translate: -50% 0;
}

section:nth-of-type(3) li:nth-of-type(2) button:nth-of-type(3) {
	bottom: 35%;
	left: 40%;
}

section:nth-of-type(3) li:nth-of-type(2) div:nth-of-type(3) {
	bottom: 35%;
	left: calc(40% + 2em);
	translate: 0 50%;
}

section:nth-of-type(3) li:nth-of-type(2) button:nth-of-type(4) {
	top: 50%;
	right: 20%;
}

section:nth-of-type(3) li:nth-of-type(2) div:nth-of-type(4) {
	top: 50%;
	right: calc(20% + 2em);
	translate: 0 -50%;
}

section:nth-of-type(3) li:nth-of-type(2) button:nth-of-type(5) {
	bottom: 20%;
	left: 10%;
}

section:nth-of-type(3) li:nth-of-type(2) div:nth-of-type(5) {
	bottom: 20%;
	left: calc(10% + 2em);
	translate: 0 50%;
}


/***************/
/* Nu bij IKEA */
/***************/

section:nth-of-type(4) > div {
	display: flex;
	gap: 1em;
	align-self: stretch;

	padding: 1em 0;
	overflow-x: scroll;
}

section:nth-of-type(4) article {
	flex-grow: 1;

	padding: 1em;
	width: 100%;
	max-width: 500px;
}

section:nth-of-type(4) article img{
	margin: -2em -2em 0 -2em;
	width: calc(100vw - 7em);
	max-width: 500px;
	height: calc(100vw - 7em);
	max-height: 500px;
}

section:nth-of-type(4) article p{
	font-size: 1em;
}

section:nth-of-type(4) article:nth-of-type(1) {
	padding: 2em;
	background: plum;
}

section:nth-of-type(4) article:nth-of-type(2) {
	padding: 2em;
	background: lightblue;
}

section:nth-of-type(4) article:nth-of-type(3) {
	padding: 2em;
	background: #CC0008;
	color: white;
}

section:nth-of-type(4) article:nth-of-type(3) h3 {
	color: white;
}

section:nth-of-type(4) button i {
	padding: 1em;
	color: white;
	background: black;
	border-radius: 2em;
}





/***************************/
/* Unique Selling Points 2 */
/***************************/
section:nth-of-type(5) ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1em;
}

section:nth-of-type(5) ul li {
	flex-grow: 1;

	padding: 2em;

	background: var(--color-background-button-hover-light);
}

section:nth-of-type(5) ul li p {
	line-break: normal;
}






/***************/
/* Meer ideeën */
/***************/

section:nth-of-type(6) ul:nth-of-type(1) {
	display: flex;
	gap: 1em;
	flex-wrap: nowrap;
	overflow-x: scroll;

	position: sticky;
	top: 0;
	z-index: 2;

	padding: 1em 0;

	background: var(--color-background);
}

section ul li button {
	position: absolute;
	z-index: 1;

	width: 1em;
	height: 1em;

	margin: 0;
	padding: 0;

	text-decoration: none;
	line-height: 0;

	background: white;
	outline: solid 1em rgba(0, 0, 0, .5);
	border-radius: 3em;
	
	
}

section:nth-of-type(6) ul:nth-of-type(1) li button {
	position: inherit;
	margin: 0em 0em;
	padding: 1em 2em;

	width: fit-content;
	height: fit-content;

	font-size: 1em;
	font-weight: 700;
	line-height: 1em;
	white-space: nowrap;
	color: var(--color-text);
	text-align: center;

	background: grey;
	outline: none;
	border-radius: 2em;

	transition: .5s;
}

section:nth-of-type(6) ul:nth-of-type(1) li button:hover {
	padding: 1em 2em;

	font-size: 1em;
	font-weight: 700;

	background: lightgrey;
	outline: none;
	border-radius: 2em;
}

section:nth-of-type(6) ul:nth-of-type(2) {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: 1fr;
	gap: 1em;
	margin-top: 1em;
}

section:nth-of-type(6) ul:nth-of-type(2) li:nth-of-type(odd) {
	position: relative;
	grid-column-start: 1;
	grid-column-end: 4;
}

section:nth-of-type(6) ul:nth-of-type(2) li:nth-of-type(even) {
	position: relative;
	grid-column-start: -1;
	grid-column-end: -4;
}

section:nth-of-type(6) ul:nth-of-type(2) li button:nth-of-type(1) {
	position: absolute;
	right: 1em;
	bottom: 1em;

	width: 4em;
	height: 4em;

	color: var(--color-text-background);

	background: rgba(58, 58, 58, 0.5);
	border-radius: 2em;
	outline: none;
	opacity: 1;

	transition: 1s;
}

section:nth-of-type(6) ul:nth-of-type(2) li button:nth-of-type(1):hover {
	background: rgba(58, 58, 58, 1);
	border-radius: 2em;
	outline: none;
}

section:nth-of-type(6) ul:nth-of-type(2) button {
	opacity: 0;
}

section:nth-of-type(6) ul:nth-of-type(2) li:hover button {
	opacity: 1;
}

section:nth-of-type(6) ul:nth-of-type(2) li:nth-of-type(1) button:nth-last-of-type(2) {
	bottom: 50%;
	left: 50%;
}

section:nth-of-type(6) li:nth-of-type(1) div:nth-of-type(1) {
	bottom: calc(50% + 2em);
	left: 50%;
	translate: -50% 0;
}

section:nth-of-type(6) ul:nth-of-type(2) li:nth-of-type(1) button:nth-last-of-type(1) {
	right: 30%;
	bottom: 30%;
}

section:nth-of-type(6) li:nth-of-type(1) div:nth-of-type(2) {
	right: calc(30% + 2em);
	bottom: 30%;
	translate: 0 50%;
}

section:nth-of-type(6) > button {
	margin: 1em auto;
	padding: 1em 2em;


	font-size: 1em;
	font-weight: 700;
	color: var(--color-text-background);
	text-align: center;


	background: var(--color-background-button-dark);
	border-radius: 2em;

	transition: 0.5s;
}

section:nth-of-type(6) > button:hover {
	background: var(--color-background-button-hover-dark);
}






/**********/
/* Footer */
/**********/




/****************/
/* Product page */
/****************/

.product section:nth-of-type(2) > ul:nth-of-type(1) {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}

.product section:nth-of-type(2) ul img {
	scroll-snap-align: start;
	width: calc(100vw - 3em);
}

.product section:nth-of-type(2) article > ul{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	position: static;
}

.product section:nth-of-type(2) article > ul button {
	display: flex;
	justify-content: space-between;

	position: static;

	width: 100%;
	height: fit-content;

	margin: 0;
	padding: .5em 0;

	font-size: 1.25em;
	line-height: 1.25em;

	background: none;
	outline: none;
	border-radius: 0em;
	border-top: 1px solid var(--color-background-button-hover-dark);
	
	transition: .5s;
}

.product section:nth-of-type(2) article > ul li:nth-last-of-type(1) button {
	border-bottom: 1px solid var(--color-background-button-hover-dark);
}

.product section:nth-of-type(2) article > ul button:hover h3 {
	text-decoration: underline;
}

.product section:nth-of-type(2) ul li div {
	display: flex;
	flex-direction: column;

	max-height: 90vh;
	overflow-y: scroll;

	position: fixed;
	bottom: -100%;
	z-index: 2;

	background-color: var(--color-background);
	border-radius: 1em 1em 0 0;
	opacity: 1;

	transition: .5s;
}

.open {
	bottom: 0% !important;
}

/* .product section:nth-of-type(2) article > ul button:hover + div {
	bottom: 0;
} */

.product section:nth-of-type(4) {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}
.product section:nth-of-type(4) ul {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.product section:nth-of-type(4) h2 {
	flex-basis: 100%;
}

.product section:nth-of-type(4) ul {
	flex-basis: calc(50% - 1em);
}

.product section:nth-of-type(4) ul li button {
	opacity: 0;

	transition: .5s;
}

.product section:nth-of-type(4) ul li:hover button {
	opacity: 1;
}

/* eerste foto van de eerste column */
.product section:nth-of-type(4) ul:nth-of-type(1) li:nth-of-type(1) button:nth-of-type(1) {
	top: 50%;
	left: 25%;
}

.product section:nth-of-type(4) ul:nth-of-type(1) li:nth-of-type(1) button:nth-of-type(1) + div {
	top: 50%;
	left: calc(25% + 2em);
	translate: 0 -50%;
}

.product section:nth-of-type(4) ul:nth-of-type(1) li:nth-of-type(1) button:nth-of-type(2) {
	bottom: 20%;
	left: 50%;
}

.product section:nth-of-type(4) ul:nth-of-type(1) li:nth-of-type(1) button:nth-of-type(2) + div {
	bottom: calc(20% + 2em);
	left: 50%;
	translate: -50% 0%;
}

/* Tweede foto van de eerste column */
.product section:nth-of-type(4) ul:nth-of-type(1) li:nth-of-type(2) button:nth-of-type(1) {
	top: 20%;
	left: 30%;
}

.product section:nth-of-type(4) ul:nth-of-type(1) li:nth-of-type(2) button:nth-of-type(1) + div {
	top: calc(20% + 2em);
	left: 30%;
	translate: -40% 0;
}

.product section:nth-of-type(4) ul:nth-of-type(1) li:nth-of-type(2) button:nth-of-type(2) {
	top: 60%;
	right: 30%;
}

.product section:nth-of-type(4) ul:nth-of-type(1) li:nth-of-type(2) button:nth-of-type(2) + div {
	top: 60%;
	right: calc(30% + 2em);
	translate: 0 -50%;
}

/* eerste foto van de tweede column */
.product section:nth-of-type(4) ul:nth-of-type(2) li:nth-of-type(1) button:nth-of-type(1) {
	top: 20%;
	right: 10%;
}

.product section:nth-of-type(4) ul:nth-of-type(2) li:nth-of-type(1) button:nth-of-type(1) + div {
	top: 20%;
	right: calc(10% + 2em);
	translate: 0 -30%;
}

.product section:nth-of-type(4) ul:nth-of-type(2) li:nth-of-type(1) button:nth-of-type(2) {
	top: 40%;
	right: 30%;
}

.product section:nth-of-type(4) ul:nth-of-type(2) li:nth-of-type(1) button:nth-of-type(2) + div {
	top: 40%;
	right: calc(30% + 2em);
	translate: 0 -50%;
}

.product section:nth-of-type(4) ul:nth-of-type(2) li:nth-of-type(1) button:nth-of-type(3) {
	top: 50%;
	left: 30%;
}

.product section:nth-of-type(4) ul:nth-of-type(2) li:nth-of-type(1) button:nth-of-type(3) + div {
	top: 50%;
	left: calc(30% + 2em);
	translate: 0 -50%;
}

.product section:nth-of-type(4) ul:nth-of-type(2) li:nth-of-type(1) button:nth-of-type(4) {
	bottom: 25%;
	left: 20%;
}

.product section:nth-of-type(4) ul:nth-of-type(2) li:nth-of-type(1) button:nth-of-type(4) + div {
	bottom: 25%;
	left: calc(20% + 2em);
	translate: 0% 45%;
}

.product section:nth-of-type(4) ul:nth-of-type(2) li:nth-of-type(1) button:nth-of-type(5) {
	bottom: 20%;
	left: 55%;
}

.product section:nth-of-type(4) ul:nth-of-type(2) li:nth-of-type(1) button:nth-of-type(5) + div {
	bottom: calc(20% + 2em);
	left: 55%;
	translate: -50% 0;
}

/* tweede foto van de tweede column */
.product section:nth-of-type(4) ul:nth-of-type(2) li:nth-of-type(2) button:nth-of-type(1) {
	top: 40%;
	left: 25%;
}

.product section:nth-of-type(4) ul:nth-of-type(2) li:nth-of-type(2) button:nth-of-type(1) + div {
	top: 40%;
	left: calc(25% + 2em);
	translate: 0 -50%;
}

.product section:nth-of-type(4) ul:nth-of-type(2) li:nth-of-type(2) button:nth-of-type(2) {
	bottom: 35%;
	right: 15%;
}

.product section:nth-of-type(4) ul:nth-of-type(2) li:nth-of-type(2) button:nth-of-type(2) + div {
	bottom: 35%;
	right: calc(15% + 2em);
	translate: 0% 50%;
}





/****************/
/* MediaQueries */
/****************/

/* ipad and up */
@media only screen and (min-width: 768px) {
	section:nth-of-type(6) ul:nth-of-type(2) li:nth-of-type(3n + 1) {
		position: relative;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	section:nth-of-type(6) ul:nth-of-type(2) li:nth-of-type(3n + 2) {
		position: relative;
		grid-column-start: 3;
		grid-column-end: 5;
	}
	
	section:nth-of-type(6) ul:nth-of-type(2) li:nth-of-type(3n + 3) {
		position: relative;
		grid-column-start: -1;
		grid-column-end: -3;
	}
}

/* laptop/desktop */
@media only screen and (min-width: 992px) {
	body{
		margin: auto 5em;
	}
}